* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:cursive;
/*  outline: 1px solid green*/
  }   

h1{
  text-align: left;
}

.nav{
  min-height: 10px;
  padding: 10px;
  font-size: 13px;
  position: absolute;
  top: 35px; left: 150vh;
 display: flex;
 list-style-type: none;

}

.nav a{
 background-color: rgb(91, 91, 202);
 color: white;
text-decoration:none;
padding: 3px;
border-color: black;
border-style: double;

}

a[href="#"]{
background-color: rgb(89, 215, 89);
}

.img{
  padding: 100px;
  background-image: url(../assets/design1_image1.jpg);
}

.h2{
  text-align: center;
}

aside{
  display: inline-block;
 vertical-align: top;
 width: 150px;

}
.tex{
  display: inline-block;
  text-align: left;
}
.tex2{
  display: inline-block;
 vertical-align: top;
width: 50%;

}
.tex3{
  display: inline-block;
  padding: 20px;
}
.contac{
  width: 150px;
  height: 150px;
}
body{
  background-color:cornflowerblue ;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #8aa3a0;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

